@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
header{
    background-image: url("/images/header-images/background.png");
    height: 100vh;
}
/* heade size area */
.secthoin1{
    height: 80px;
}
.secthoin2{
    height: calc(100vh - 80px);
    background-color: chartreuse;
   
}
/* images-position */
.images-position{
    position: relative;
   
    z-index: 5;
}
.images-left{
    position: absolute;
    z-index: -2;
    margin-left: -70px;
    margin-top: 20px;
    transform: rotate(-60deg);
}
.images-right{
    position: absolute;
    z-index: -2;
    margin-top: -20px;
    margin-left: -80px;
}
